* {
	font-family: system-ui;
}

body {
	background-color: #d2e7db;
	color: black;
}

input,
textarea,
select {
	background-color: aliceblue;
	border-radius: 5px;
}

table {
	background-color: #98cbaf;
	border-collapse: collapse;
}


tr,
td {
	border: 2px solid black;
}

button {
	border-radius: 10px;
	font-weight: bold;
	background-color: palegreen;
	border: 2px solid black;
}

button:disabled {
	/* background-color: #c3b4b3; */
	background-color: #98cbaf;
}

button:hover {
	cursor: pointer;
	background-color: aliceblue;
}

#log-task {
	width: 100%;
}

.balance-container {
	width: 100%;
	position: relative;
}

.balance-container table {
	float: right;
}

.balance-container tr:nth-child(1) {
	text-align: right;
}


input,
textarea {
	color: black;
}

#status {
	font-weight: bolder;

}

.on,
.success {
	color: green;

}

.off,
.failure {
	color: red;

}


#status::before {
	content: '•';
}