<!-- @format -->

Repetir tarea cada <b>n</b> tiempo: Si<input
	type="radio"
	name="periodica"
	id="periodica_si"
	value="si"
/>
No<input type="radio" name="periodica" id="periodica_no" value="no" checked />
<br /><br />
<form action="#">
	Cada
	<input type="number" id="intervalo" name="intervalo" value="5" />
	<select name="tipo_intervalo" id="tipo_intervalo">
		<option value="minuto">Minuto(s)</option>
		<option value="hora">Hora(s)</option>
		<option value="dia">Día(s)</option>
	</select>
	Inicio:
	<input type="time" name="inicio" id="inicio" value="{{hora}}:{{minuto}}" />
</form>
<br />
<center>
	<button id="btnstart">Crear tarea</button>
</center>
<br />
Log:<br />
<span id="status"></span>

<div id="info_blocks">
	<textarea id="log-task" rows="15" readonly></textarea>
	<br />
</div>

<h4>Tareas</h4>
<table class="ordenes">
	<tr>
		<th>ID<br />ORDEN</th>
		<th>Fecha<br />ORDEN</th>
		<th>status<br />ORDEN</th>
		<th>task id</th>
		<th>Fecha</th>
		<th>status<br />tarea</th>
	</tr>
	<tbody id="orders_body">
		{% include 'tarea/order_table.html' %}
	</tbody>
</table>
