
{% extends 'base.html' %}



{% block body %}
{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'tarea/style.css' %}">
<div id="programar">

    
<br>

<table>
    <tr>
        <td>Time (Ciclo actualizar limit)</td>
        <td>
            <input type="number" name="tiempo_limit" value="20" id="time_limit"> Min
        </td>
    </tr>
    <tr>
        <td>Amount</td>
        <td>
            <input type="number" step="any" name="amount" id="amount" value="0.001"> BTC
        </td>
    </tr>
    <tr>
        <td>Miner (Ciclo encontrar nuevos bloques)</td>
        <td>
            <input type="text" id="miner_find" name="miner_find" value="2Miners: PPLNS">
        </td>
    </tr>
     <tr>
        <td><label>Limit</label> </td>
        <td><input id="limit_inp" type="number" step="any" name="limit" value="{{limit}}"> THs</td>
    </tr> 
    <tr>
        <td><label>Limit 2 (Ciclo actualizar limit)</label> </td>
        <td><input id="limit_inp_2" type="number" step="any" name="limit_2" value="0.01"> THs</td>
    </tr> 
    <tr>
        <td><label>Seleccionar Pool:</label></td>
        <td>
            <select id="pools">
                {% for pool in pools %}
                <option value="{{pool.id}}///{{pool.algorithm}}///{{pool.stratumHostname}}">
                    {{ forloop.counter }}: {{pool.name}} - {{pool.algorithm}}
                </option>
                {% endfor %}
            </select>

        </td>

    </tr>
</table>



<br>






<div>
    <form action="#">

    <label>Seleccionar tarea:</label>
    <input type="radio" name="tipo" id="find_blocks" value="findon" checked> 
    <label>Ciclo encontrar nuevos bloques</label>
    
    <input type="radio" name="tipo" id="cicle_limit" value="cicleon" > 
    <label>Ciclo actualizar limit</label>

    <input type="radio" name="tipo" id="find_block_limit" valu="findlimiton">
    <label> Ciclo encontrar nuevos bloques y limit -90% </label>
    </form>
</div>

<br>

</div>

Programar tarea periódica:
Si<input type="radio" name="periodica" id="periodica_si" value="si" checked>
No<input type="radio" name="periodica" id="periodica_no" value="no">
<br><br>
<form action="#">

    Cada
    <input type="number" id="intervalo" name="intervalo" value="1">
    <select name="tipo_intervalo" id="tipo_intervalo">
        <option value="dia">Día(s)</option>    
        <option value="hora">Hora(s)</option>
        <option value="minuto">Minuto(s)</option>
        
    </select>
    Inicio:
    <input type="time" name="inicio" id="inicio" value="{{hora}}:{{minuto}}">
</form>
<br>
<center>
<button id="btnstart">Iniciar</button>
</center>
<br>
<br><br>
Log:<br>
<span id="status"></span>

<div id="info_blocks">

    <textarea id="log-task" cols="150" rows="20" readonly></textarea>
    <br>
</div>

<!--{% for schedule in schedules %}
    {{schedule.every}}
    {{schedule.period}}
    {{schedule.last_run_at}}
{% endfor%}-->
<h4>Tareas</h4>
<table>
    <tr>
        <th>Status</th>
        <th>NOmbre</th>
        <th>Periodica </th>
        <th>Inicio</th>
        <th>Cada</th>
        <th>Intervalo</th>
        <th>Tarea</th>
        <th>Id</th>
        <th>Acciones</th>
    </tr>
{% for task in periodic_tasks %}
<tr>
    <td>{{task.enabled}}</td>
    <td>{{task.name}}</td>
    <td>
        {% if task.one_off == True %} No {% else %} Si {% endif %}
    </td>
    <td>{{task.last_run_at}}</td>
    <td>{{task.interval.every}}</td>
    <td>{{task.interval.period}}</td>
    <td>{{task.task}}</td>
    <td>{{task.id}}</td>
    <td><button disabled>Desactivar</button> <button onclick="del_task({{task.id}},'periodica_si')">Eliminar</button> <button disabled>Informacion</button></td>
</tr>
{% endfor%}
</table>


<h4>Resultado de Tareas</h4>
<table>
    <tr>
        <th>NOmbre</th>
        <th>Tarea periodica</th>
        <th>Id</th>
        <th>Status</th>
        <th>Ejecución</th>
    </tr>
    {% for task in tasks_results %}
    <tr>
        
        <td>{{task.task_name}}</td>
        <td>{{task.periodic_task_name}}</td>
        <td>{{task.task_id}}</td>
        <td>{{task.status}}</td>
        <td>{{task.result}}</td>
        
    </tr>
    {% endfor%}
</table>


<div id="tarea_actual">



</div>

{% endblock %}

{% block scripts%}
<script>
    function scroll(){
        document.querySelector('#log-task').scrollTop = document.querySelector('#log-task').scrollHeight;
    }

    var wss_protocol = (window.location.protocol == 'https:') ? 'wss://': 'ws://';
    var tareaSocket = new WebSocket(
        wss_protocol + window.location.hostname + '{{wsport}}/ws/'
        );
    console.log(window.location.host );
    tareaSocket.onopen = function(e) {
        document.querySelector('#status').innerHTML = ('Conexión ws abierta\n')    
    }

    tareaSocket.onmessage = function(e) {
        var data = JSON.parse(e.data);
        
        var message = data['message'];  

        document.querySelector('#log-task').innerHTML+='\n\n';

        if (message['log_time']){
            document.querySelector('#log-task').innerHTML+=message['log_time'];
            document.querySelector('#log-task').innerHTML+=':';
            document.querySelector('#log-task').innerHTML+='\n';
            for(const att in message){
                console.log(att);
                console.log(message[att]);
                if (att != 'log_time'){
                    document.querySelector('#log-task').innerHTML+=att;
                    document.querySelector('#log-task').innerHTML+=': ';
                    document.querySelector('#log-task').innerHTML+=JSON.stringify(message[att]);
                    document.querySelector('#log-task').innerHTML+=' ';
                }
                
            }
        }
        else{
            document.querySelector('#log-task').innerHTML+=JSON.stringify(message);   
        }        
        //document.querySelector('#log-task').innerHTML+=JSON.stringify(message);
        document.querySelector('#status').innerHTML=message['status'];
        document.querySelector('#status').className=message['status'];
        scroll();

        console.log(message)
        {% comment %} if('encontrados' in message){
            document.querySelector('#num_bloques').innerHTML=message['num_bloques'];
            document.querySelector('#sum_luck_bloques').innerHTML=message['sum_luck_bloques'];
            document.querySelector('#prom_luck_bloques').innerHTML=message['prom_luck_bloques'];
            document.querySelector('#encontrados').innerHTML=message['encontrados'];
            document.querySelector('#task_id').value=message['task_id'];
            document.querySelector('#order_id').value=message['order_id'];

            document.querySelector('#log-task').value+=(
                '\n'+'Numero de bloques: '+ message['num_bloques']+'\n'+
                'Suma luck: '+message['sum_luck_bloques']+'\n'+
                'Promedio luck: '+message['prom_luck_bloques']+'\n'+
                '++++++++++++++++++++++'+'\n'
            );
        }else if('encontrado' in message){
            document.querySelector('#task_id').value=message['task_id'];
            document.querySelector('#log-task').value+=(
                'Miner: '+message['miner']+'\n'+
                'Bloques: '+message['encontrado']+'\n'+
                '++++++++++++++++++++++'+'\n'
            );
        } {% endcomment %}
        
        

    };

    tareaSocket.onclose = function(e) {
        document.querySelector('#status').value += ('Socket closed unexpectedly, please reload the page.\n')
    };

    document.querySelector('#btnstart').onclick = function(e) {
        
        console.log('test');
        
        limite=document.querySelector('#limit_inp').value;
        limite2=document.querySelector('#limit_inp_2').value;
        time_limit=document.querySelector('#time_limit').value;
        inicio=document.querySelector('#inicio').value;
        tipo_intervalo=document.querySelector('#tipo_intervalo').value;
        intervalo=document.querySelector('#intervalo').value;
        miner_find=document.querySelector('#miner_find').value;
        pool=document.querySelector('#pools').value;
        amount=document.querySelector('#amount').value;
        tipo="";
        console.log(
                document.querySelector('#find_blocks').checked,
                document.querySelector('#cicle_limit').checked
            );
        
        tipo_nombre=''
        if(document.querySelector('#find_blocks').checked==true){
            tipo='add_tarea'
            tipo_nombre='find_blocks'
        }   
        else if (document.querySelector('#cicle_limit').checked==true){
            tipo='add_tarea'
            tipo_nombre='ciclo_limit'    
        }
        else if (document.querySelector('#find_block_limit').checked==true){
            tipo='add_tarea'
            tipo_nombre='find_blocks_limit'
        }
        else{
            tipo='effort';
        }   
        periodica='no';
        if(document.querySelector('#periodica_si').checked==true){
            periodica='si';
        }

        params={
                    'tipo_nombre':tipo_nombre,
                    'inicio':inicio,
                    'amount':amount,
                    'miner_find': miner_find,
                    'time_limit':time_limit,
                    'limite':limite,
                    'limite_2':limite2,
                    'intervalo':intervalo,
                    'tipo_intervalo':tipo_intervalo,
                    'periodica':periodica,
                    'pool':pool
                }
        console.log(params);
        tareaSocket.send(JSON.stringify({
            'message': {
                'tipo':tipo,
                'params':params
            	
            }
        }));
        
    };

    

    function del_task(id,periodica_yn){
        tareaSocket.send(JSON.stringify({
            'message': {
                'tipo':'del_task',
                'params':{
                    'periodica':'no',
                    'task_id':id,
                    'periodica':periodica_yn,
                    'time_limit':time_limit
                }
                
            }
        }));
    }


    function hora(){
        const d = new Date();
        let hour=d.getHours();
        let minutes = d.getMinutes();
        minutes=String(minutes).padStart(2,'0');
        hour=String(hour).padStart(2,'0');

        hora_manual=document.querySelector('#inicio').value.split(':');
        tiempo_manual="".concat(hora_manual[0],hora_manual[1]);

        tiempo_actual="".concat(hour,minutes);

        if (tiempo_manual<tiempo_actual){
            document.querySelector('#inicio').value=hour+':'+minutes;    
        }

        //console.log(tiempo_manual);
        //console.log(tiempo_actual);
        
    }

    window.setInterval(hora,1000);

</script>
{% endblock %}