<!-- @format -->

{% extends 'base.html' %} {% block body %} {% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'tarea/style.css' %}" />

<form>
	<input type="hidden" value="update_limit" id="task_type" />
</form>

<div class="balance-container">
	<table>
		<tr>
			<td>Balance Total:</td>
			<td>{{balance_total}} {{balance_currency}}</td>
		</tr>
		<tr>
			<td>Pendiente:</td>
			<td>{{balance_pending}} {{balance_currency}}</td>
		</tr>
		<tr>
			<td>Disponible:</td>
			<td>{{balance_available}} {{balance_currency}}</td>
		</tr>
	</table>
</div>
<div id="programar">
	<h2 style="display: inline-block">
		Creación de ordenes
		<span style="font-size: 0.56em">
			Tarea que crea orden y actualiza el limit cada n tiempo.
		</span>
	</h2>

	<p>Configuración de orden:</p>

	<br /><br />
	<table class="ordenes">
		<tr>
			<td><label>*Pool:</label></td>
			<td>
				<select id="pools" required>
					{% comment %}
					<option value="">
						Seleccione (nombre de pool - stratum host name - algoritmo)
					</option>
					{% endcomment %} {% for pool in pools %}
					<option
						value="{{pool.id}}///{{pool.algorithm}}///{{pool.stratumHostname}}"
					>
						{{ forloop.counter }}: {{pool.name}} - {{pool.stratumHostname}} -
						{{pool.algorithm}}
					</option>
					{% endfor %}
				</select>
			</td>
		</tr>
		<tr>
			<td>*Amount</td>
			<td>
				<input
					type="number"
					step="any"
					name="amount"
					id="amount"
					value="0.001"
					required
				/>
				BTC
			</td>
		</tr>
		<tr>
			<td><label>*Limit arriba</label></td>
			<td>
				<input
					id="limit_up"
					type="number"
					step="any"
					name="limit_up"
					value="0.1"
					required
				/>
				THs
			</td>
		</tr>
		<tr>
			<td><label>*Limit abajo</label></td>
			<td>
				<input
					id="limit_down"
					type="number"
					step="any"
					name="limit_down"
					value="0.02"
					required
				/>
				THs
			</td>
		</tr>
		<tr>
			<td>*Tiempo arriba</td>
			<td>
				<input type="number" name="time_up" value="1" id="time_up" required />
				Min
			</td>
		</tr>
		<tr>
			<td>*Tiempo abajo</td>
			<td>
				<input
					type="number"
					name="time_down"
					value="3"
					id="time_down"
					required
				/>
				Min
			</td>
		</tr>
	</table>
	<br />
	<br />
</div>

{% include 'tarea/create_task.html' %} {% comment %} Repetir tarea cada
<b>n</b> tiempo: Si<input
	type="radio"
	name="periodica"
	id="periodica_si"
	value="si"
/>
No<input type="radio" name="periodica" id="periodica_no" value="no" checked />
<br /><br />
<form action="#">
	Cada
	<input type="number" id="intervalo" name="intervalo" value="5" />
	<select name="tipo_intervalo" id="tipo_intervalo">
		<option value="minuto">Minuto(s)</option>
		<option value="hora">Hora(s)</option>
		<option value="dia">Día(s)</option>
	</select>
	Inicio:
	<input type="time" name="inicio" id="inicio" value="{{hora}}:{{minuto}}" />
</form>
<br />
<center>
	<button id="btnstart">Crear tarea</button>
</center>
<br />
Log:<br />
<span id="status"></span>

<div id="info_blocks">
	<textarea id="log-task" rows="15" readonly></textarea>
	<br />
</div>

<h4>Tareas</h4>
<table class="ordenes">
	<tr>
		<th>ID<br />ORDEN</th>
		<th>Fecha<br />ORDEN</th>
		<th>status<br />ORDEN</th>
		<th>task id</th>
		<th>Fecha</th>
		<th>status<br />tarea</th>
	</tr>
	<tbody id="orders_body">
		{% include 'tarea/order_table.html' %}
	</tbody>
</table>
{% endcomment %} {% endblock %} {% block scripts%}
<script src="{% static 'tarea/funciones.js' %}"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
<script>
	function scroll() {
		document.querySelector('#log-task').scrollTop =
			document.querySelector('#log-task').scrollHeight;
	}

	var wss_protocol = window.location.protocol == 'https:' ? 'wss://' : 'ws://';
	var tareaSocket = new WebSocket(
		wss_protocol + window.location.hostname + '{{wsport}}/ws/'
	);
	console.log(window.location.host);
	tareaSocket.onopen = function (e) {
		document.querySelector('#status').innerHTML = 'Activo\n';
	};

	tareaSocket.onmessage = function (e) {
		var data = JSON.parse(e.data);

		var message = data['message'];
		console.log(message);
		document.querySelector('#log-task').innerHTML += '\n\n';
		if (message['update_orders']) {
			$('#orders_body').html('').load("{% url 'get_orders' %}");
		} else if (message['log_time']) {
			document.querySelector('#log-task').innerHTML += message['log_time'];
			document.querySelector('#log-task').innerHTML += ':';
			document.querySelector('#log-task').innerHTML += '\n';
			for (const att in message) {
				console.log(att);
				console.log(message[att]);
				if (att != 'log_time') {
					document.querySelector('#log-task').innerHTML += att;
					document.querySelector('#log-task').innerHTML += ': ';
					document.querySelector('#log-task').innerHTML += JSON.stringify(
						message[att]
					);
					document.querySelector('#log-task').innerHTML += ' ';
				}
			}
		} else {
			document.querySelector('#log-task').innerHTML += JSON.stringify(message);
		}
		//document.querySelector('#log-task').innerHTML+=JSON.stringify(message);
		document.querySelector('#status').innerHTML = message['status'];
		document.querySelector('#status').className = message['status'];
		scroll();
		console.log(message);
	};

	tareaSocket.onclose = function (e) {
		document.querySelector('#status').value +=
			'Socket closed unexpectedly, please reload the page.\n';
	};

	window.setInterval(hora, 1000);
</script>
{% endblock %}
